.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(90,162,174),0 0.015em rgb(90,162,174),0.015em 0 rgb(90,162,174),0 -0.015em  rgb(90,162,174);}
.sc2{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(90,162,174);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:82.100000px;}
._0{width:84.900000px;}
.fc7{color:rgb(97,99,101);}
.fc9{color:rgb(38,38,38);}
.fc6{color:rgb(0,128,0);}
.fc0{color:rgb(172,203,249);}
.fc5{color:rgb(74,102,172);}
.fc4{color:rgb(0,0,0);}
.fc1{color:rgb(0,112,192);}
.fc2{color:rgb(36,40,82);}
.fc8{color:rgb(90,162,174);}
.fc3{color:rgb(255,0,0);}
.fs0{font-size:32.000000px;}
.fs3{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fsa{font-size:47.520004px;}
.fsb{font-size:48.000000px;}
.fs7{font-size:64.000000px;}
.fs6{font-size:66.000000px;}
.fs9{font-size:72.000000px;}
.fs8{font-size:74.000000px;}
.fs5{font-size:76.000000px;}
.fs4{font-size:96.000000px;}
.fs1{font-size:112.000000px;}
.fsc{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.y6{bottom:6.180948px;}
.y5{bottom:18.180948px;}
.y1f{bottom:38.836190px;}
.y20{bottom:39.324053px;}
.y17{bottom:40.708152px;}
.y1{bottom:41.513734px;}
.y21{bottom:98.910732px;}
.y22{bottom:100.374317px;}
.y16{bottom:194.870438px;}
.y1e{bottom:207.830414px;}
.y2a{bottom:207.830429px;}
.y14{bottom:216.470428px;}
.y15{bottom:221.870422px;}
.y1d{bottom:233.750412px;}
.y29{bottom:233.750427px;}
.y13{bottom:238.070419px;}
.y1c{bottom:255.350403px;}
.y28{bottom:255.350418px;}
.y12{bottom:259.670410px;}
.y1b{bottom:281.270401px;}
.y11{bottom:285.590408px;}
.y1a{bottom:302.870407px;}
.y10{bottom:307.190407px;}
.y27{bottom:307.190422px;}
.ya{bottom:308.388641px;}
.y19{bottom:328.790413px;}
.y26{bottom:328.790428px;}
.yf{bottom:333.110413px;}
.y23{bottom:350.390419px;}
.y25{bottom:350.390434px;}
.y9{bottom:354.468639px;}
.ye{bottom:354.710419px;}
.y4{bottom:371.487402px;}
.y2b{bottom:374.205730px;}
.y18{bottom:376.310417px;}
.yd{bottom:380.630417px;}
.y3{bottom:384.687401px;}
.yc{bottom:402.230417px;}
.y24{bottom:402.230433px;}
.y8{bottom:409.702543px;}
.y2{bottom:410.772799px;}
.yb{bottom:444.542038px;}
.y7{bottom:445.507427px;}
.hb{height:23.296875px;}
.h1{height:23.312500px;}
.h4{height:29.140625px;}
.h3{height:32.054688px;}
.ha{height:34.619066px;}
.hc{height:34.945312px;}
.h7{height:48.082031px;}
.h9{height:52.453125px;}
.h8{height:53.910156px;}
.h6{height:55.330078px;}
.h5{height:69.890625px;}
.h2{height:81.539062px;}
.hd{height:104.906250px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x7{left:55.496460px;}
.xc{left:82.200012px;}
.x8{left:163.200012px;}
.xd{left:171.930891px;}
.x9{left:190.200012px;}
.x5{left:294.966553px;}
.x2{left:297.437340px;}
.x3{left:310.154099px;}
.x4{left:357.716599px;}
.x6{left:387.841553px;}
.x10{left:423.824669px;}
.xf{left:514.190582px;}
.xe{left:515.654169px;}
.xa{left:644.515411px;}
.xb{left:657.765411px;}
.x1{left:761.637604px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:109.466667pt;}
._0{width:113.200000pt;}
.fs0{font-size:42.666667pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fsa{font-size:63.360006pt;}
.fsb{font-size:64.000000pt;}
.fs7{font-size:85.333333pt;}
.fs6{font-size:88.000000pt;}
.fs9{font-size:96.000000pt;}
.fs8{font-size:98.666667pt;}
.fs5{font-size:101.333333pt;}
.fs4{font-size:128.000000pt;}
.fs1{font-size:149.333333pt;}
.fsc{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.y6{bottom:8.241264pt;}
.y5{bottom:24.241264pt;}
.y1f{bottom:51.781587pt;}
.y20{bottom:52.432070pt;}
.y17{bottom:54.277536pt;}
.y1{bottom:55.351645pt;}
.y21{bottom:131.880976pt;}
.y22{bottom:133.832423pt;}
.y16{bottom:259.827250pt;}
.y1e{bottom:277.107218pt;}
.y2a{bottom:277.107239pt;}
.y14{bottom:288.627238pt;}
.y15{bottom:295.827230pt;}
.y1d{bottom:311.667216pt;}
.y29{bottom:311.667236pt;}
.y13{bottom:317.427226pt;}
.y1c{bottom:340.467204pt;}
.y28{bottom:340.467224pt;}
.y12{bottom:346.227214pt;}
.y1b{bottom:375.027201pt;}
.y11{bottom:380.787211pt;}
.y1a{bottom:403.827209pt;}
.y10{bottom:409.587209pt;}
.y27{bottom:409.587229pt;}
.ya{bottom:411.184855pt;}
.y19{bottom:438.387217pt;}
.y26{bottom:438.387238pt;}
.yf{bottom:444.147217pt;}
.y23{bottom:467.187225pt;}
.y25{bottom:467.187246pt;}
.y9{bottom:472.624852pt;}
.ye{bottom:472.947225pt;}
.y4{bottom:495.316536pt;}
.y2b{bottom:498.940974pt;}
.y18{bottom:501.747223pt;}
.yd{bottom:507.507222pt;}
.y3{bottom:512.916534pt;}
.yc{bottom:536.307223pt;}
.y24{bottom:536.307243pt;}
.y8{bottom:546.270058pt;}
.y2{bottom:547.697065pt;}
.yb{bottom:592.722717pt;}
.y7{bottom:594.009903pt;}
.hb{height:31.062500pt;}
.h1{height:31.083333pt;}
.h4{height:38.854167pt;}
.h3{height:42.739583pt;}
.ha{height:46.158754pt;}
.hc{height:46.593750pt;}
.h7{height:64.109375pt;}
.h9{height:69.937500pt;}
.h8{height:71.880208pt;}
.h6{height:73.773438pt;}
.h5{height:93.187500pt;}
.h2{height:108.718750pt;}
.hd{height:139.875000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x7{left:73.995280pt;}
.xc{left:109.600016pt;}
.x8{left:217.600016pt;}
.xd{left:229.241188pt;}
.x9{left:253.600016pt;}
.x5{left:393.288737pt;}
.x2{left:396.583120pt;}
.x3{left:413.538798pt;}
.x4{left:476.955465pt;}
.x6{left:517.122070pt;}
.x10{left:565.099559pt;}
.xf{left:685.587443pt;}
.xe{left:687.538891pt;}
.xa{left:859.353882pt;}
.xb{left:877.020549pt;}
.x1{left:1015.516805pt;}
}
